$text-color-lgtstyle: rgba(255, 255, 255, 1);
$placeholder-color: rgba(255, 255, 255, .7);
$input-color-hover: rgba(255, 255, 255, .3);

@mixin margin {
  margin: 0;
}
@mixin textSize($value, $spacing, $weight) {
  font-weight: $weight;
  font-size: $value*2;
  line-height: $value*3;
  letter-spacing: $spacing*0.5px;
}

*{
  padding: 0;
  margin: 0;
}

body, body *{
  font-family: 'Genshin_Font';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  & *{
    color: $text-color-lgtstyle;
  }
}
::-webkit-scrollbar {
  width: 5px;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #888;
  }
}

button{
  cursor: pointer;
  @include textSize(9px, 0, 700);
  border: none;
}

h1, h2{
  @include textSize(14px, 0, 400);
}
h3{
  @include textSize(10px, .3, 500);
}
input{
  border: none;
  transition: 0.5s;
  cursor: pointer;
  @include textSize(9px, .3, 500);
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus,
  &:hover{
    outline: none;
    background-color: $input-color-hover;
  }
  
  &[type=number]{
    -moz-appearance: textfield;
  }
  &::placeholder{
    color: $placeholder-color;
  }
}
a{
  @include textSize(10px, .3, 500);
  text-decoration: none
}
p{
  @include textSize(7px, .5, 400);
}
ul{
  padding: 0;
}
li{
  @include textSize(8px, .3, 700);
  list-style: none;
}

nav{
  display: none;
}

